.App {
  text-align: center;
}

.swiper-container {
  width: 700px;
}

.swiper-slide {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  padding: 8px;
}

.swiper-img {
  width: 100%;
}

.swiper-title {
  padding: 14px 0 5px 0;
}
